[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/anake"]
	path = themes/anake
	url = https://github.com/Kichye/gohugo-theme-ananke.git
